.container {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
  padding: 10px;
  text-align: center;
  background: #dea191;
  border: 1px solid #817474;
  border-radius: 5px;
}
.output {
  margin-bottom: 1rem;
}
input {
  text-align: right;
}
button {
  color: blue;
  margin: 5px;
  width: 2rem;
}